.btn-explore{
  /* border: 2px solid#ffff; */
  padding: 10px 20px;
  color: rgb(216, 253, 3);
  border-radius: 5px;
  background-color:  rgba(73, 78, 43, 0.295);

}

.btn-explore:hover{
  background-color:  rgba(207, 240, 24, 0.295);
  transition: 0.4s;
  border: none;
  color: aliceblue;
}
.main{
  margin-top: 40px;
}

.GTI{
  margin-top: -28rem;
}
@media screen and (max-width:639px){
  .GTI{
    margin-top: 1%;
  }
}